# --------------------------------------------------------------
# Central logging configuration for a Python app
# --------------------------------------------------------------

version: 1
disable_existing_loggers: false

formatters:
  # NOTE: Single line, but maybe change to JSON in future..
  standard:
    format: "%(asctime)s | %(levelname)-8s | %(funcName)s | %(module)s:%(lineno)d | %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"

handlers:
  # NOTE: Console output.
  console:
    class: logging.StreamHandler
    level: WARNING
    formatter: standard
    stream: ext://sys.stdout

  # NOTE: Rotating file handler. Daily rotation. keep 2 weeks of logs.
  file:
    class: logging.handlers.TimedRotatingFileHandler
    level: DEBUG
    formatter: standard
    filename: ${LOG_FILE_PATH}
    when: midnight          # rotate at midnight each day
    backupCount: 14         # keep the last 14 files (≈2 weeks)
    encoding: utf-8

loggers:
  # NOTE: Your application namespace – name to matc package
  initialize_db:
    level: INFO
    handlers: [console, file]
    propagate: false
  utility:
      level: INFO
      handlers: [console, file]
      propagate: false
  poke_api_etl:
      level: INFO
      handlers: [console, file]
      propagate: false
# NOTE: 3rd parties.. (optional)
#  duckdb:
#    level: WARNING
#    handlers: [] # inherit root handlers only

root:
  level: WARNING
  handlers: [console, file]
